#about {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#about #about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 700px;
    gap: 20px
}

#about #about-container #for-mobile {
    display: none;
}

#about #about-container #about-img-container {
    width: 50%;
    aspect-ratio: 1;
    border-radius: 10px;
    overflow: hidden;
}

#about #about-container #about-img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#about #about-container #about-details {
    width: 50%;
}

#about #about-container #about-details h5,
#about #about-container #about-details h2,
#about #about-container #for-mobile {
    margin-bottom: 10px;
}

#about #about-container #about-details h5,
#about #about-container #for-mobile {
    color: var(--textBg);
}

#about #about-container #about-details p {
    color: gray;
    font-size: 14px;
}

@media screen and (max-width : 480px) {
    #about {
        display: block;
    }

    #about #about-container {
        width: auto;
        display: block;
    }

    #about #about-container #for-mobile {
        display: block;
        margin-bottom: 0;
        text-align: center;
    }

    #about #about-container #about-details h5 {
        display: none;
    }

    #about #about-container #about-img-container {
        width: auto;
        margin-bottom: 20px;
        padding: 30px;
    }
    
    #about #about-container #about-details {
        width: auto;
        text-align: center;
        padding: 0 20px;
        margin-bottom: 50px;
    }
}