#contact {
    display: flex;
    justify-content: center;
    align-items: center;
}

#contact-container {
    width: 700px;
}

#contact-container #contact-header {
    color: var(--textBg);
    margin-bottom: 10px;
}

#contact-container h3 {
    margin-bottom: 20px;
}

#contact-details {
    display: flex;
    align-items: center;
    margin: 30px;
}

#contact-details .each-detail {
    display: flex;
    align-items: center;
    margin-right: 50px;
}

#contact-details .each-detail .detail-icon {
    font-size: 22px;
    margin-right: 20px;
    color: var(--textBg);
}

#contact-details .each-detail p {
    color: gray;
    margin-top: 5px;
    font-size: 14px;
}

@media screen and (max-width : 480px) {
    #contact {
        display: block;
    }
    
    #contact-container {
        width: auto;
        padding: 20px;
    }

    #contact-details {
        display: block;
        margin: 10px;
    }

    #contact-details .each-detail {
        margin: 0;
        margin-bottom: 20px;
    }

    #contact-container #contact-header,
    #contact-container h3 {
        text-align: center;
    }
}