#home-container {
    height: 100vh;
}

#header {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    position: fixed;
    top: 0;
    background: white;
    z-index: 999;
}

#nav-elements ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

#nav-elements ul li a {
    text-decoration: none;
    outline: none;
    color: black;
    font-weight: 500;
    padding: 10px;
    border-radius: 4px;
}

#nav-elements ul li a:hover,
#nav-elements ul li a:focus {
    /* background-color: var(--textBg); */
    color: var(--textBg);
}

#home-container #home {
    padding-top: 60px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#home-container #home #intro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 550px;
}

#home #intro #intro-a {
    width: 300px;
}

#home #intro #intro-a h1,
#home #intro #intro-a p {
    margin-bottom: 20px;
}

#home #intro #intro-a p {
    font-size: 14px;
    color: gray;
}

#home #intro #intro-a #links {
    display: flex;
    align-items: center;
}

#home #intro #intro-a #links .link-img-container {
    margin-right: 10px;
    cursor: pointer;
}

#home #intro #intro-a #links .link-img-container ion-icon {
    color: black;
    font-size: 18px
}

#home #intro #intro-b {
    min-width: 200px;
    width: 200px;
    aspect-ratio: 1;
    border: 2px solid black;
    border-radius: 50%;
    overflow: hidden;
}

#home #intro #intro-b img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#home #techs-container {
    margin-top: 40px;
    height: 70px;
    display: flex;
    align-items: center;
    width: 550px;
}

#home #techs-container #techs-header {
    padding-right: 10px;
    border-right: 3px solid gray; 

}

#home #techs-container .tech-img-conatiner {
    width: 20px;
    aspect-ratio: 1;
    margin-left: 20px;
}

#home #techs-container .tech-img-conatiner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    mix-blend-mode: color-burn;
}